@font-face {
	font-family: 'Blern';
	src: url('Blern.eot');
	src: url('Blern.eot?#iefix') format('embedded-opentype'),
		url('Blern.woff2') format('woff2'),
		url('Blern.woff') format('woff'),
		url('Blern.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
  font-family: 'Blern',sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  font-family: sans-serif;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.section-heading {
  font-size: 2.5em;
  color: #2BA1A5;
  border-bottom: 2px black solid;
  text-align: center;
}

.specials-heading {
  color: #B04436;
  text-align: center;
  font-style: italic;
}

.googlemaps {
  display: flex;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.findus-text {
  text-align: center;
}

footer {
display: flex;

  margin-top: 3rem;
  background-color: #2f2f2f;
  width: 100%;
  height: 50px;
  text-align: center;
  font-style: italic;
  color: #2BA1A5;
}

.nav-background img {
	position: absolute;
	z-index: -1000000;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	padding: 0;
	background-color: #584c4c;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	position: fixed;

}

.nav-link {
	list-style: none;
}

.link-border {
	border-right: 2px solid white;
}

.nav-link a {
	display: inline-block;
	position:relative;
	padding: 1rem;
	text-decoration: none;
	color: #2ba1a5;
	font-weight: bold;
	text-align: center;
}

.nav-link a:hover {
	color: #56e4e9;
}
